@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    position: relative;
    background-image: url('img/espaco.jpg');
    background-position: center center;
    background-size: cover;
    min-width: 300px;
    max-width: 100%;
}
.conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}